/* stylelint-disable csstree/validator */
:root {
  --primary-color: black;
  --secondary-color: grey;
  --tetiary-color-1: rgba(255, 140, 0, 0.687);
  --tetiary-color-2: rgba(128, 128, 128, 0.256);
}

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1 {
  font-size: clamp(1.1rem, 5vw, 2rem);
}

h2 {
  font-size: clamp(1rem, 5vw, 1.5rem);
}

.calculator-page {
  display: flex;
  flex-wrap: wrap;
  margin: 6rem 0;
  justify-content: center;
  gap: 2rem;
}

.calculator {
  width: 100%;
  max-width: 27rem;
}

.calculator-buttons {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 1px;
}

.number {
  grid-column: span 4;
  background-color: var(--secondary-color);
  border: none;
  font-size: larger;
  padding: 0.7rem;
  word-wrap: break-word;
  min-height: 1rem;
}

.calc-buttons {
  padding: 1rem;
  border: 1px solid var(--tetiary-color-2);
}

.zero {
  grid-column: span 2;
}

.m-sign {
  background-color: var(--tetiary-color-1);
}
